/***Basic one offs***/
div#scc9e-ch17-box8 {
  margin-left: 185px;
}
div#scc9e-ch17-unfig-05 {
  margin-top: 2em;
}
div#scc9e-ch17-box17 {
  margin-right: 2em;
  margin-bottom: 1em;
}
div#scc9e-ch17-p096 {
  position: relative;
  left: -1em;
  margin-right: -1em;
}
div#scc9e-ch17-p0110 a {
  font-weight: normal;
}
div#scc9e-ch17-p0155 {
  text-align: center;
}
/***Page number one offs***/
div#scc9e_page_411 {
  margin-top: -2.5em !important;
}
div#scc9e_page_408 {
  margin-top: -98px !important;
}
div#scc9e-ch17-box12 {
  float: right;
  margin-right: -144px;
  margin-left: 15px;
  margin-top: 8px;
}
div#scc9e_page_413 {
  margin-top: -158px !important;
}