div[data-type="section"][data-block_type="chapter"] [data-block_type="CT"] p {
  width: 500px;
  padding: 80px 320px 40px 150px;
}
#scc9e-ch13-p-026 + #scc9e-ch13-fig-005 {
  position: relative;
  left: -100px;
}
#scc9e-ch13-FN-001 {
  background-color: white;
  font-size: .9em;
}
#scc9e_page_305 {
  margin-top: -2em !important;
}