div[id="scc9e-ch04-untab-01"] table {
  width: 400px !important;
  color: #485f6b;
}
div#scc9e-ch04-box-10 {
  float: right;
  margin: 2em -122px 0 1em;
}
div#scc9e-ch04-box-18 {
  float: right;
  margin: 2em -122px 0 1em;
}
div#scc9e-ch04-box-07 {
  width: 480px;
}
div#scc9e-ch04-unfig-03 {
  margin-top: 2em;
}
/* special spacing in Example 6 box */
div#scc9e-ch04-box-12 > div > div {
  margin-top: .5em;
}
/* spacing in question 4.1 */
div#scc9e-ch04-p-65 {
  margin-bottom: .5em;
}
/* space around figure in statistical controversies box */
div#scc9e-ch04-unfig-05 {
  margin: 14px 30px 0 0;
}
/* page number adjustments */
div#scc9e_page_71 {
  margin-top: -3em !important;
}
div#scc9e_page_72 {
  margin-top: -2em !important;
}
div#scc9e_page_79 {
  margin-top: -2em !important;
}