div#scc9e-ch21-fig-001 {
  margin-left: -35px;
  background: white;
  padding-bottom: 20px;
}
div#scc9e-ch21-unfig-003 {
  position: absolute;
  width: 280px !important;
  margin-left: 510px;
  margin-top: -200px;
}
[data-figure-id="scc9e-ch21-unfig-003"] img {
  width: 270px !important;
  /* margin-left: 510px; */
  /* margin-top: -200px; */
}
div#scc9e_page_497 {
  margin-top: -34px !important;
}
div#scc9e-ch21-box-009 {
  float: right;
  margin-left: 15px;
  margin-right: -135px;
}
div#scc9e_page_499 {
  margin-top: -10px !important;
}
div#scc9e_page_500 {
  margin-top: -75px !important;
}
div#scc9e-ch21-p031 p {
  text-indent: 0px;
}
div#scc9e-ch21-p044 {
  margin-left: -150px;
}
div#scc9e-ch21-p068 {
  margin-left: -72px;
}
div#scc9e-ch21-p069 {
  margin-left: -118px;
}
div#scc9e-ch21-p070 {
  margin-left: -101px;
}
div#scc9e-ch21-p0117 {
  margin-left: -9px;
}
div#scc9e-ch21-p0118 {
  margin-left: 82px;
}
div#scc9e-ch21-p0119 {
  margin-left: 19px;
}
div#scc9e-ch21-p0120 {
  margin-left: 35px;
}
div#scc9e_page_512 {
  margin-top: -311px !important;
}
div#scc9e_page_514 {
  margin-top: -90px !important;
}
div#scc9e_page_516 {
  margin-top: -300px !important;
}
div#scc9e_page_516 {
  margin-top: -300px !important;
}
div#scc9e_page_518 {
  margin-top: -189px !important;
}
div#scc9e-ch21-p0264 {
  margin-bottom: 20px;
}
div#scc9e-ch21-p0281 {
  margin-top: 20px;
  border-top: 1px solid darkblue;
  width: 96%;
}
div#scc9e-ch21-p0285 {
  margin-bottom: 15px;
  border-bottom: 1px solid darkblue;
  width: 96%;
}
div#scc9e_page_519 {
  margin-top: -340px !important;
}