div[data-altsrc="asset/ch1/17MOORESCC-MSE_9e_CO01.jpg"] {
  width: 350px !important;
}
img[src="asset/ch1/17MOORESCC-MSE_9e_CO01.jpg"] {
  width: 350px;
}
div#scc9e-ch01-box-16 {
  margin-bottom: 3em;
}
div#scc9e-ch01-unfig-03 {
  margin-top: -31px;
}
div#scc9e_page_8 {
  margin-top: 3em !important;
}
div#scc9e_page_11 {
  margin-top: -3em !important;
}