div[data-type="section"][data-block_type="chapter"] [data-block_type="CT"] p {
    width:500px;
    padding-right:320px;
}

div#scc9e-ch11-p-011 {margin-top:1em;}

div#scc9e-ch11-p-018 + div#scc9e-ch11-tab-1 {margin-left:-110px;background-color:white;padding-top:1em;padding-bottom:1em;}

div#scc9e_page_251 + div#scc9e-ch11-fig-003 {position:relative;left:-70px}

#scc9e_page_246 {margin-top:-2em !important;}
#scc9e_page_254 {margin-top:-2em !important;}

#scc9e-ch11-exp1-003 {margin-top:4em;}

