div[data-type="section"][data-block_type="chapter"] [data-block_type="CT"] p {
  width: 600px;
  padding: 50px 220px 20px 150px;
}
#scc9e-ch14-box-007 {
  margin-top: -10px;
}
#scc9e-ch14-fig-005 {
  clear: both;
  padding-top: 1em;
}
#scc9e-ch14-unfig-002 {
  margin-top: 2em;
}