#scc9e-ch08-p-02 p {
  padding-top: 80px;
  padding-bottom: 40px;
}
#scc9e-ch08-box-05 {
  margin-left: 210px;
}
#scc9e-ch08-box-14 {
  margin-left: 210px;
}
#scc9e-ch08-unfig-03 {
  margin-left: 0px;
  padding-right: 20px;
}
/*centered equations... though don't know if I should put this globally... because mathjax we don't want to center*/
[data-sec-id="scc9e-ch08-sec-05"] [data-block_type="EQ"] {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
div#scc9e_page_174 {
  margin-top: -2em !important;
}