div[data-altsrc="asset/ch3/17MOORESCC-MSE_9e_CO03.jpg"] {
  width: 350px !important;
}
img[src="asset/ch3/17MOORESCC-MSE_9e_CO03.jpg"] {
  width: 350px;
}
div[data-type="section"][data-block_type="chapter"] [data-block_type="CT"] p {
  padding: 60px 300px 50px 150px;
  width: 520px;
}
div[data-type="section"][data-block_type="h1"] [data-type="figure"][data-layout-align="right"][id="scc9e-ch03-unfig-02"] {
  margin-right: 0;
  padding-left: 1em;
}
div#scc9e-ch03-p-16a {
  margin-top: -35px;
}
div#scc9e-ch03-box-14 {
  margin-right: 2em;
  margin-top: 61px;
  margin-bottom: 44px;
}
div#scc9e_page_51 {
  margin-top: -23px !important;
}
div[data-type="section"][data-block_type="CR-X-H-v1"] [data-type="question"] ul[data-block_type="none"] {
  border-top: 1px solid #005bab;
  border-bottom: 1px solid #005bab;
  padding-top: .5em;
  padding-bottom: .5em;
}