//Chapter opener figure (on chapter intro section) for chapters 1-5 need to have set width of 350px
div[data-altsrc="asset/ch1/17MOORESCC-MSE_9e_CO01.jpg"] {width:350px !important;}
img[src="asset/ch1/17MOORESCC-MSE_9e_CO01.jpg"] {width:350px;}

// lengthen box area so text doesn't wrap underneath (looks bad)
div#scc9e-ch01-box-16 {
    margin-bottom: 3em;
}
// move side image up
div#scc9e-ch01-unfig-03 {
    margin-top: -31px;
}

// page number adjustments
div#scc9e_page_8 {
    margin-top: 3em !important;
}
div#scc9e_page_11 {
    margin-top: -3em !important;
}
