/* supplemental window styles */
[data-block_type="page_start"] {
  display: none;
}
[data-type="question"] {
  margin-top: 2em;
}
[data-type="question"] h3 {
  display: none;
}
[data-type="question"] img[src*="global_images"] {
  float: left;
  margin-right: 10px;
  width: 73px;
}
[data-block_type="EXP"] [data-block_type="EXP-T"] p:hover {
  cursor: auto;
  text-decoration: none;
}
[data-block_type="BX2-QUE-N-ri"]:hover {
  cursor: auto;
  text-decoration: none;
}
div[data-type="section"][data-block_type="CR-X-H"] [data-type="question"] [data-block_type="CR-X-NL-N-ri"]:hover {
  cursor: auto;
  text-decoration: none;
}
div[data-type="section"][data-block_type="CR-X-H-v1"] [data-type="question"] [data-block_type="CR-X-NL-N-ri"]:hover {
  cursor: auto;
  text-decoration: none;
}
/* destyle numbered figure title numbers */
div[data-type="section"] > [data-block_type="FIGURE"] img {
  cursor: auto !important;
}
div[data-type="section"] > [data-block_type="FIGURE"] [data-type="figure_text"] {
  margin-bottom: 1em;
}
div[data-type="section"] > [data-block_type="FIGURE"] [data-type="figure_text"] [data-type="caption"] [data-block_type="FG-N-ri"] {
  font-weight: bold;
  cursor: auto;
}
/* destyle unnumbered figures */
[data-type="section"] > [data-type="figure"] {
  float: none !important;
  margin: 2em auto !important;
}
[data-type="section"] > [data-type="figure"] img {
  cursor: auto !important;
}
/* turn off asset credits */
[data-type="asset_source"] {
  display: none;
}